<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"/>
        <link href="https://fonts.googleapis.com/css?family=Architects+Daughter|Caveat|Gloria+Hallelujah|Gochi+Hand|Indie+Flower|Kalam|Shadows+Into+Light&display=swap" rel="stylesheet"/>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
        </script>
        <link href="css/styles.css" rel="stylesheet" type="text/css"/>
        <link href="img/imgP3.png" rel="shortcut icon"/>
        <title>
            Senate Loyalty
        </title>
    </head>
    <body>
        <header>
            <div class="row">
                <div class="col-lg-10 col-sm-8 mb-5">
                    <img alt="Responsive image logo" class="img-fluid logo" src="img/tgif.png"/>
                </div>
                <div class="col-lg-2 col-sm-4 d-flex align-content-center flex-wrap">
                    <img alt="mail logo" class="img-fluid icon-mail ml-2" src="img/icon_mail.png"/>
                    <a class="link ml-1" href="mailto:info@tgif.net">
                        info@tgif.net
                    </a>
                </div>
            </div>
        </header>
        <div class="mb-5 mt-5 pt-1" id="bordeNav">
            <nav class="nav dropdown">
                <a class="nav-link active font" href="index.html" id="font">
                    <!-- home -->
                    Home
                </a>
                <div class="nav-item dropdown mt-2 ml-3" id="fontc">
                    <!-- data -->
                    <a class="dropdown-toggle" data-toggle="dropdown" id="nav-con">
                        Congress 115
                    </a>
                    <div class="dropdown-menu" id="fontdropdown">
                        <a class="dropdown-item" href="house-starter-page.html">
                            House
                        </a>
                        <a class="dropdown-item" href="senate-starter-page.html">
                            Senate
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown mt-2 ml-3" id="fontc">
                    <!-- attendance -->
                    <a class="dropdown-toggle" data-toggle="dropdown" id="nav-con">
                        Attendance
                    </a>
                    <div class="dropdown-menu" id="fontdropdown">
                        <a class="dropdown-item" href="house-attendance.html">
                            House
                        </a>
                        <a class="dropdown-item" href="senate-attendance.html">
                            Senate
                        </a>
                    </div>
                </div>
                <div class="nav-item dropdown mt-2 ml-3" id="fontc">
                    <!-- lovalty -->
                    <a class="dropdown-toggle" data-toggle="dropdown" id="nav-con">
                        Party Loyalty
                    </a>
                    <div class="dropdown-menu" id="fontdropdown">
                        <a class="dropdown-item" href="house-loyalty.html">
                            House
                        </a>
                        <a class="dropdown-item" href="#">
                            Senate
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        <div class="container" id="app">
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        Party Loyalty
                    </h2>
                    <p>
                        Those who consider themselves to be strong partisans, strong Democrats and strong Republicans respectively, tend to be the most faithful in voting for their party's nominee for office and legislation that backs their party's agenda.
                    </p>
                </div>
                <div class="col-md-6">
                    <h2>
                        Senate at a glance
                    </h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Party
                                </th>
                                <th>
                                    Number of Reps
                                </th>
                                <th>
                                    % Voted with Party
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-senate-glance">
                            <tbody>
                                <tr>
                                    <td>
                                        Democrat
                                    </td>
                                    <td class="text-center" id="totD">
                                        {{statTotal.totD}}
                                    </td>
                                    <td class="text-center" id="numberDem">
                                        {{statTotal.numberDem}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Republican
                                    </td>
                                    <td class="text-center" id="totR">
                                        {{ statTotal.totR}}
                                    </td>
                                    <td class="text-center" id="numberRep">
                                        {{ statTotal.numberRep}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Independent
                                    </td>
                                    <td class="text-center" id="totI">
                                        {{statTotal.totI}}
                                    </td>
                                    <td class="text-center" id="numberInd">
                                        {{statTotal.numberInd}}
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        Total
                                    </td>
                                    <td class="text-center" id="totals">
                                        {{statTotal.totals}}
                                    </td>
                                    <td class="text-center" id="totatesPorc">
                                        {{statTotal.total}}
                                    </td>
                                </tr>
                            </tbody>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h2>
                        Least Loyal (Bottom 10% of Party)
                    </h2>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Number Party Votes
                                </th>
                                <th>
                                    % Party Votes
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-least-loyal">
                            <tr v-for="member in statTotal.least_loyal">
                                <td class="link">
                                    <a target="_blank" v-bind:href="member.url">
                                        {{member.first_name}} {{member.middle_name}} {{member.last_name}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{member.total_votes}}
                                </td>
                                <td class="text-center">
                                    {{member.votes_with_party_pct}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-md-6">
                    <h2>
                        Most Loyal (Top 10% of Party)
                    </h2>
                    <table class="table table-hover" id="jsonData">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Number Party Votes
                                </th>
                                <th>
                                    % Party Votes
                                </th>
                            </tr>
                        </thead>
                        <tbody id="table-most-loyal">
                            <tr v-for="member in statTotal.most_loyal">
                                <td class="link">
                                    <a target="_blank" v-bind:href="member.url">
                                        {{member.first_name}} {{member.middle_name}} {{member.last_name}}
                                    </a>
                                </td>
                                <td class="text-center">
                                    {{member.total_votes}}
                                </td>
                                <td class="text-center">
                                    {{member.votes_with_party_pct}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <footer>
            <div class="mb-5 mt-5 pt-3" id="divFooter">
                <p>
                    <script>
                        document.write(new Date().getFullYear());
                    </script>
                    TGIF &vert; All Rights Reserved.
                </p>
            </div>
        </footer>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js">
        </script>
        <script>
            var x = "senate"
        </script>
        <!-- Añadiendo el JS propio -->
        <script src="js/statistics_main.js">
        </script>
        <!-- <script src="js/pro-congress-115-senate.js">
        </script>
        <script src="js/statistics.js">
        </script> -->
        <script crossorigin="anonymous" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" src="https://code.jquery.com/jquery-3.3.1.slim.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js">
        </script>
        <script crossorigin="anonymous" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js">
        </script>
    </body>
</html>